body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background: #2e7d32;
    color: white;
    padding: 25px;
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar h1 {
    font-size: 28px;
    margin-bottom: 30px;
}

.sidebar button {
    width: 100%;
    padding: 12px;
    background: black;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 15px;
    border-radius: 5px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.sidebar ul li {
    margin: 8px 0;
}

/* clickable list style */
.profile-link {
    display: block;
    padding: 10px;
    background: rgba(255,255,255,0.12);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.profile-link:hover {
    background: rgba(255,255,255,0.25);
    transform: scale(1.03);
}

.profile-link.active {
    background: white;
    color: #2e7d32;
    font-weight: bold;
}

.profile-container {
    margin-left: 300px;
    padding: 40px;
}

.profile-card {
    background: white;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
    max-width: 850px;
    min-height: 300px;
    transition: 0.3s;
}

.profile-card h2 {
    color: #2e7d32;
}

.profile-card p {
    margin: 8px 0;
}
